body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7eb;
} 
.footer {
    color: #888;
    font-size: 14px;
    font-style: italic;
    background-color: #333;
    text-align: right;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}
.content {
    color: rgb(241, 22, 22);  
    font-size: 18px;
    font-style: times new roman;
    text-align: left;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    margin-left:20px;

}
.step {
    width: 200px;
    height: 100px;
    border: 1px solid;
    position:absolute;
    top:300px;
    left:30px;
    background-color: rgb(100, 230, 40);
    text-align: center
}
.header {
    color: rgb(243, 12, 12);
    background: rgb(115, 117, 241);
    font-size: 18px;
    height: 80px;
    line-height: 83px;
    padding-left: 30px;
    }
#time {
    margin-left: 100px;
}